  .table th,
  .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
.table-bordered{
    background-color: red !important;
}  
  .table th {
    background-color: #f2f2f2;
  }
  .btn-edit {
    color: green;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 25px ;
    border: 2px solid green;
  
  }
  .btn-edit:hover{
    background-color: green;
    color: white;
  }
  /* add btn */
  .btn-add {
    color: rgb(165, 7, 244);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 25px ;
    border: 2px solid rgb(165, 7, 244);
  
  }
  .btn-add:hover{
    background-color: rgb(165, 7, 244);
    color: white;
  }
  /* save */
  .btn-save {
    color: rgb(7, 102, 244);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 25px ;
    border: 2px solid rgb(7, 102, 244);
  
  }
  .btn-save:hover{
    background-color: rgb(7, 102, 244);
    color: white;
  }
  .btn-delete,
  .btn-cancel {
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 25px ;
    border: 2px solid red;
  }
  .btn-delete:hover,
  .btn-cancel:hover{
    background-color: red;
    color: white;
  }
  .input-search{
    width: auto;
    margin-right: 20px;
}
.add-product input{
    border-radius: 12px;
    padding: 6px 12px;
}